@import "../../../../styles/variables";

.searchBar {
  width: 300px;
}

.searchBarContainer {
  width: 100%;
  padding: 50px 40px;
  box-sizing: border-box;
}

@media (max-width:$tablet) {
  .searchBarContainer {
    display: flex;
    padding: 0 20px;
    justify-content: center;
  }
}

@media (max-width:$desktop) {
  .searchBarContainer{
    display: flex;
    justify-content: center;
  }
}

// gradient animation
@keyframes gradient {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}


.webflowStyleInput {
  position: relative;
  display: flex;

  width: 100%;
  max-width: 400px;
  border-radius: 2px;
  padding: 1.4rem 10px;

  &:after {
    content: "";
    position: absolute;
    border-radius: 10px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 3px;
    background-position: 0% 0%;
    background: $golden;
    background-size: 500% auto;
  }

  & > input {
    background: none !important;
    border: none;
    flex-grow: 1;
    color: #c0c0c0;
    font-size: 1.7rem;
    line-height: 2.4rem;
    vertical-align: middle;
    padding-right: 10px;
    letter-spacing: 2px;
    width: 0;

    &::-webkit-input-placeholder {
      color: #c0c0c0;
    }
  }

  & > button {
    background: none;
    border: none;
    cursor: pointer;

    & > svg {
      fill: $light-grey;
      transition: 300ms ease-in-out;
      transform: rotate(0deg);

      &:hover {
        fill: $golden;
        transform: rotate(360deg);
        transition: 300ms;
      }
    }
  }
}