@import "../../../../styles/variables";

@mixin navigateArrow {
  display: flex;
  align-items: center;
  column-gap: 9px;
  position: absolute !important;
  bottom: 40px;
  font-weight: 400;
  z-index: 1;
  cursor: pointer;
  transition: 250ms;

  & > p {
    font-size: 1.7em;
    color: var(--light-grey);
    transition: all 250ms;
  }

  & > svg {
    fill: var(--light-grey);
    transition: all 250ms;
  }
  &:hover {
    transform: scale(1.15);
    transition: 250ms ease-in-out;

    p {
      color: var(--golden);
    }

    svg {
      fill: var(--golden);
    }
  }
}

.nextArrow {
  @include navigateArrow;
  right: 100px;
}

.prevArrow {
  @include navigateArrow;
  left: 100px;
}

@media (max-width: $tablet) {
  .nextArrow {
    display: none;
  }

  .prevArrow {
    display: none;
  }
}
