//breakpoints
$mobile: 380px;
$tablet:767px;
$desktop:1025px;
$bixScreen:1440px;

//color valuables
$main-text-color: #a1a1a1;
$light-grey: #f9f9f9;
$dark: #c9c9c9;
$grey: #5a5a5a;
$golden: #d6b600;
$hot-yellow:#ffd000;
$green: #158a7a;
$black: #2c2c2c;