@import "../../styles/variables.scss";

body {
  background: radial-gradient(
    circle at 0% 0%,
    #282828,
    #292929 51%,
    #131313
  ) !important;
  background: radial-gradient(circle at 0% 0%, #383838, #303030 51%, #131313);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&family=Montserrat:wght@300&display=swap");

* {
  font-family: "Barlow", sans-serif;
  margin: 0;
  text-decoration: none;
}

input,
button {
  outline: none;
}

p,
h1,
h2,
h3 {
  color: $main-text-color;
}

::-webkit-scrollbar {
  background: none;
  width: 4px;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: $grey;
  border-radius: 4px;
}
