@import "../../styles/variables";

.footerContainer {
  margin-top: 30px;
  & > img {
    width: 100%;
    height: 20vh;
  }

  .mainContainer {
    height: fit-content;
    width: 100%;
    padding: 0 40px 40px;
    box-sizing: border-box;
    margin-top: -4px;
    background-color: $golden;
    .infoContainer {
      display: grid;
      grid-template-columns: 5fr 9fr 2fr;
      column-gap: 10px;

      .bigText {
        word-break: break-word;

        & > h1 {
          color: $black;
          font-size: 7em;
          font-weight: 700;
        }

        &.light > h1 {
          color: $white !important;
        }
      }

      .titlesContainer {
        display: flex;
        column-gap: 70px;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 20px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding-left: 10px;
        padding-bottom: 40px;

        .section {
          display: flex;
          flex-direction: column;
          row-gap: 30px;

          & > h1 {
            font-weight: 700;
            font-size: 2em;
            color: $black;
          }

          & > p {
            width: fit-content;
            position: relative;
            font-weight: 300;
            font-size: 1.4em;
            color: $black;
            cursor: pointer;
            font-family: "Montserrat", sans-serif;

            &::after {
              content: "";
              display: block;
              position: absolute;

              right: 0;
              bottom: -3px;
              width: 0;
              height: 1px;
              background-color: $grey;
              transition: width 0.5s;
            }

            &:hover::after {
              content: "";
              width: 100%;
              display: block;
              position: absolute;
              left: 0;
              bottom: -3px;
              height: 1px;
              background-color: $grey;
              transition: width 0.5s;
            }
          }

          & > h3 {
            width: fit-content;
            position: relative;
            font-weight: 300;
            font-size: 1.2em;
            color: $black;
            font-family: "Montserrat", sans-serif;
          }

          &.light {
            & > h1 {
              color: $white;
            }

            & > p {
              color: $white;

              &::after {
                background-color: $white;
              }
              &:hover::after {
                background-color: $white;
              }
            }

            & > h3 {
              color: $white;
            }
          }
        }
      }

      .socialsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > h1 {
          font-weight: 500;
          font-size: 2em;
          color: $black;
        }

        .socialsIconsContainer {
          padding-top: 10px;
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          cursor: pointer;
          & > svg {
            fill: $black;
            transition: 250ms ease-in-out;

            &:hover {
              transform: scale(1.2);
              transition: 250ms ease-in-out;
            }
          }

          &.light > svg {
            fill: $white;
          }
        }

        &.light > h1 {
          color: $white;
        }
      }
    }
    .changeLanguageContainer {
      display: flex;
      align-items: center;

      & > h3 {
        color: $black;
        font-size: 1.3em;
        font-weight: 300;
      }

      .languageList {
        display: flex;
        column-gap: 10px;
        padding-left: 10px;
        & > li {
          font-size: 1.2em;
          list-style-type: none;
          cursor: pointer;
        }
      }

      &.light {
        & > h3 {
          color: $white;
        }
        & > .languageList > li {
          color: $white;
        }
      }
    }

    &.light {
      background-color: $blue;
    }
  }

  @media (max-width: $tablet) {
    .mainContainer {
      .infoContainer {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .bigText {
          width: 100%;

          & > h1 {
            font-size: 3.7em;
            margin-block-end: 0em;
            margin-block-start: 0;
          }
        }

        .titlesContainer {
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          padding-left: 0;
          padding-bottom: 0;

          .section {
            flex-direction: column;
            row-gap: 10px;

            & > h1 {
              font-size: 2.1em;
            }

            & > p {
              font-size: 1.4em;
            }
          }
        }

        .socialsContainer {
          align-items: flex-start;

          & > h1 {
            font-size: 2.2em;
          }

          .socialsIconsContainer {
            padding-top: 5px;
            flex-direction: row;
            column-gap: 10px;
          }
        }
      }
      .changeLanguageContainer {
        padding-top: 20px;
        flex-direction: column;
        align-items: flex-start;
        & > h3 {
          font-weight: 500;
        }
        .languageList {
          padding-top: 10px;
          padding-left: 0;
          flex-wrap: wrap;

          row-gap: 10px;
          & > li {
          }
        }
      }
    }
  }

  @media (min-width: $tablet) and (max-width: $desktop) {
    .mainContainer {
      .infoContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        .bigText {
          width: 100%;

          & > h1 {
            font-size: 5em;
          }
        }

        .titlesContainer {
          display: flex;
          justify-content: space-between;
          box-sizing: border-box;
          padding-left: 0;
          padding: 0;
          column-gap: 0;

          .section {
            flex-direction: column;
            row-gap: 10px;

            & > h1 {
              font-size: 1.5em !important ;
            }

            & > p {
              font-size: 1.4em;
            }
          }
        }

        .socialsContainer {
          padding-top: 10px;
          flex-direction: row;
          column-gap: 10px;
          & > h1 {
            font-size: 1.9em;
          }

          .socialsIconsContainer {
            padding-top: 5px;
            flex-direction: row;
            column-gap: 10px;
          }
        }
      }
      .changeLanguageContainer {
        padding-top: 15px;
        justify-content: flex-end;

        & > h3 {
          color: $black;
          font-size: 1.2em;
          font-weight: 500;
        }

        .languageList {
          & > li {
            font-size: 1.1em;
          }
        }
      }
    }
  }
}
