@import "../../../styles/variables";

.header {
  width: 100%;
  height: 55vh;
  overflow: hidden;

  .videoContainer {
    position: relative;
    width: 100%;
    height: 100%;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  .backArrowContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10vh;
    left: 4vw;
    column-gap: 10px;
    display: flex;
    align-items: center;
    transition: 250ms ease-in-out;
    
    & > p {
      color: $light-grey;
    }

    & > svg {
      fill: $light-grey;
    }

    &:hover {
      transform: scale(1.2);
      color: $golden;
      transition: 250ms ease-in-out;
    }
  }
}

@media (max-width: $desktop) {
  .header {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;

    .backArrowContainer {
      top: 20px;
      left: 20px;
      column-gap: 10px;
      display: flex;
      align-items: center;
      transition: 250ms ease-in-out;
      & > p {
        color: $light-grey;
      }

      & > svg {
        width: 45px ;
        height: 45px ;
      }
    }
  }
}

@media (min-width:$tablet) and (max-width:$desktop) {
  .backArrowContainer {
    top: 30px;
    left: 20px; 
    &>svg{
      width: 55px;
      height: 55px;
    }
    & > p {
      font-size: 1.3em;
    }
  }
}
